.header-container{
	background-color: black;
}

.join{
	font-family: Montserrat;
	font-size: 50px;
	color: white;
}

.contacting{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.list-group{
	width: min-width;
}

.list-group-item{
	border: 0px;
}

h1{
	margin-top: 5rem;
	margin-left: 1rem;
	margin-bottom: 2rem;
}

.listing{
	text-align: center;
}

section{
	margin-bottom: 5vh;
}