.pricing{
	margin:  auto;
}

.card{
	margin-top: 10vh;
	width: 31vw;
	border-radius: 20px;
	display: inline-block;
}

@media only screen and (max-width: 600px)
        .card{width: auto;} 
} 

section{
	margin-bottom: 10vh;
}

nav{
	margin-bottom: 5vh;
}
